.browse-container{
    display: flex; 
    justify-content: center; 
    margin-top: 50px;
    margin-left: 800px;
    padding-right: 40px;
}

.browse-button {
    display: inline-flex;
    align-items: center; 
    background-color:black; 
    color: white;
    padding: 10px 45px; 
    border-radius: 5px; 
    font-size: 12px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0) 40px 50px 25px -40px, 
                    rgba(0, 0, 0, 0.2) 0px 25px 25px -5px;
}

.browse-button:hover {
    background-color: #676767;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 50px -5px, 
                    rgba(0, 0, 0, 0.3) 0px 10px 20px -5px;
}

.search-icon {
    margin-right: 8px; 
    font-size: 35px;
    vertical-align: middle; 
    transform: scaleX(-1);
}
