.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 5% 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(25px); 
    border-bottom: 2px solid rgba(255, 255, 255, 0.4); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.heading {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 15px;
    
}
.logo {
    height: 40px; 
    width: auto;
    margin-right: 10px; 
    border-radius: 50%;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

.title {
    font-size: 25px;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}


.navbar-items {
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    
}

.navbar-items a {
    color: black;
    font-weight: 600;
    margin-left: 30px;
    text-decoration: none; 
}


.lb, .logoutButton {
    padding: 5px 10px; 
    background-color: #007BFF;
    border-radius: 5px;
    border: 2px solid black;
}

.navbarUsername {
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
}

.lb:hover {
    background-color: #0056b3; 
}

.navbar-pic {
  width: 2rem;        
  height: 2rem;       
  border-radius: 15%;  
  margin-right: .5rem;
}

.navbar-account-box {
  display: flex;           
  align-items: center;     
   margin-left: 2vw;     
}

