.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin: 1rem auto;
  padding: 0 2vw;
margin-top: 20rem;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.search-input {
  width: 100%;
  padding: 0.625rem 1rem;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
  margin-right: 10rem;
}
.search-button {
  padding: 0.525rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
border-radius: 0 1rem 1rem 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.category-dropdown:hover{
 background-color: #a9a9a9;   
}

.search-input::placeholder {
  color: #888;
}
.tune-icon{
background-color: white;
}
.searchbar-icon{
font-weight: bold;
text-align: center;
}
.category-dropdown{
box-sizing: content-box;  
background-color: #009688;
border-radius: 1rem 0 0 1rem;
text-align: center;
border: none;
cursor: pointer;
transition: background-color 0.3s ease;
}
.category-dropdown option {
  padding: 10px 12px;   
  line-height: 2rem;      
  font-size: 1rem;     
  text-align: center;
}
