.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; 
  width: 100vw;
  height: 100vh;
  background-color: #555;
  text-align: left;
  padding: 20px 60px 20px 20px;
  box-sizing: border-box;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px 0px 2rem;
  max-width: fit-content; 
}

.back-button .back-form {
  font-size: 24px;
color:white;
font-weight: bold;
}

.back-text-form {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}


.image-previews {
  display: flex;
  gap: 10px;
  margin-top: 2rem;
  flex-direction: column; 
}

.preview-img {
  width: 25rem;
  height: 25rem;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #fff;
}


.form-title {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.item-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 750px;
  margin-left: 9rem;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-labels {
  flex: 1;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: left;
  margin-right: 10px;
}

.form-input {
  flex: 2;
  padding: 10px 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
  outline: none;
}

.submit-button {
  padding: 12px;
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #45a049;
}

.submit-button:active {
  transform: scale(0.98);
}

