
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
  }
  
  .register-card {
    
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
  
  }
  
  .register-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .register-form label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .register-form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .register-button {
    padding: 10px;
    background-color: #4c7cc4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .register-button:hover {
    background-color: #3a66a5;
  }
  
