.overlay-pay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: fadeIn 0.3s ease;
}
.form-header-pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-header h2 {
  font-size: 24px;
  color: white;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: gray;
  transition: color 0.3s;
}

.form-popup-pay {
  background: white;
  width: 100%;
  max-width: 700px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.3s ease;
}
.payment-container {
 width: 100%;
    margin: 20px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
#text{
 font-size: 28px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.user-payment-header {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.add-card-btn{
  float:left;
  padding: .7rem .7rem .7rem .7rem;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
  align-self: flex-start; 

}

.close-btn-pay {
  background: none;
  border: none;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #555;
  transition: all 0.3s ease;
  padding: 4px 10px;
  border-radius: 50%;
}

.close-btni-pay:hover {
  color: #ff3b3b;
  background-color: #f0f0f0;
  transform: rotate(90deg);
}



.input-field-pay {
  margin-bottom: .5rem;
}

.input-field-pay label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.input-field-pay input {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.input-field-pay input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  outline: none;
}

.form-footer-pay {
  display: flex;
  justify-content: flex-end;
}
.save-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-btn:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
